.relatedPosts {
  position: absolute;
  width: 340px;
  //top: 210px;
  right: 5px;
}
.relatedPosts h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 100%;
}
.relatedPosts h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 100%;
}